@using BestService.Common
@model BestService.Web.ViewModels.Home.CustomErrorViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}";
}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-httperror">
            <h3>Oops! @Model.ReasonPhrase</h3>
            <h1><span>@Model.StatusCodeNumber</span></h1>
        </div>
        <h2>we are sorry, but the page you requested generates error: @Model.StatusMessage</h2>

    </div>
</div>