@{
    this.ViewData["Title"] = "Privacy Policy";
}

<!-- Courses -->
<div id="courses" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h1>@this.ViewData["Title"]</h1>
                <p>Use this page to detail your site's privacy policy.</p>
            </div>
        </div>
        <!-- /row -->
    </div>
</div>
