@model BestService.Web.ViewModels.SideBar.SideBarCategoriesViewModel
@{
    ViewData["Title"] = "Categories";
}

<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
    <h3>@ViewData["Title"]</h3>
    <ul class="categories">
        @{
            foreach (var category in Model.Categories)
            {
                <li><a asp-controller="c" asp-action="@category.Name">@category.Name <span>(@category.Companies.Count)</span></a></li>
            }
        }
    </ul>
</div>