@model BestService.Web.ViewModels.Settings.SettingsListViewModel

@{
    this.ViewData["Title"] = "Settings";
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="section-header">
                <h1>@this.ViewData["Title"]</h1>
            </div>
        </div>

        @foreach (var setting in this.Model.Settings)
        {
            <div class="row">@setting.Id: @setting.NameAndValue</div>
        }
        <div class="row">
            <a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>
        </div>
    </div>
</section>