.rating {
    font-size: 0;
}

.set {
    display: inline-block;
    
}

    .set:after {
        content: "";
        display: table;
        clear: both;
    }

.star {
    float: right;
    padding: 6px 0 0 3px;
    cursor: pointer;
    color: #FFB300;
}

    .star:last-child {
        padding-left: 0;
    }

.rad {
    display: none;
}
    /* 1. hover over a label.star directly and display
    ||    the full gold star in the ::before pseudo
    ||    element.
    */
    /* 2. hover over a label.star and display it and all
    ||    other label.star before it as a full gold star
    */
    /* 3. check a label.star and display it and all other
    ||    label.star before it as a full gold star.
    ||    Full persistent empty stars are possible because
    ||    of the :checked pseudo-selector
    */
    .star:hover:before,
    .star:hover ~ .star:before,
    .rad:checked ~ .star:before {
        content: "\f005";
    }