/*
Fonts: Lato & Montserrat
/*------------------------------------*\
	Footer
\*------------------------------------*/

/* --- Section --- */
.section-footer {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
    font-weight: 400;
    color: #798696;
}

.section-footer-hr {
	margin-top:80px;
	margin-bottom:80px;
	border-color: #EBEBEB;
}

/* --- typography --- */

#footer a {
	font-family: 'Lato', sans-serif;
	color: #798696;
	font-weight: 700;
	color: #FFF;
    margin: 0;
    padding-right: 10px;
}

#footer a:hover,
#footer a:focus{
    text-decoration: none;
    outline: none;
	color: #FF6700;
	opacity: 0.9;
}

#footer ul,ol{
    margin: 0;
    padding: 0;
    list-style: none
}

footer li.nav-item{
	margin: 0;
    padding: 0;
}

footer a.nav-link{
	margin: 2px;
    padding: 5px;
}

#bottom-footer {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #EBEBEB;
}

/* -- Footer Logo -- */
.footer-logo  .logo {
	margin-top: 0px;
	display: inline-block;
}

.footer-logo  .logo > img {
	max-height:40px;
}

/* -- Footer Nav -- */
.footer-nav {
	text-align: right;
	padding: 20px 0px;
}

.footer-nav li {
	display:inline-block;
	margin-left:15px;
	/* line-height:35px; */
}

.footer-nav li a {
	display:block;
	text-transform:uppercase;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

.footer-nav li a:hover , .footer-nav li a:focus {
	color:#FF6700;
}

.footer-nav li a:after {
	content:"";
	display:block;
	height:2px;
	background-color:#FF6700;
	width:100%;
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.footer-nav li a:hover:after , .footer-nav li a:focus:after {
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
	opacity:1;
}

/* -- Footer copyright -- */
.footer-copyright {
	line-height:40px;
}

/* -- Footer Social -- */
.footer-social {
	text-align:right;
}

.footer-social li {
	display:inline-block;
	margin-left:10px;
}

.footer-social li a {
	display:block;
	width:40px;
	height:40px;
	padding-left: 10px;
	line-height:40px;
	text-align:center;
	border-radius:50%;
	color:#FFF;
	background-color:#EBEBEB;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.footer-social li a.facebook {
	background-color:#3b5998;
}

.footer-social li a.twitter {
	background-color:#55acee;
}

.footer-social li a.google-plus {
	background-color:#dd4b39;
}

.footer-social li a.instagram {
	background-color:#e95950;
}

.footer-social li a.youtube {
	background-color:#ff0000;
}

.footer-social li a.linkedin {
	background-color:#007bb5;
}


/*------------------------------------*\
	Responsive
\*------------------------------------*/
@media only screen and (max-width: 991px) {
	
	/*-- Footer --*/
	.footer-logo {
		text-align:center;
		padding-bottom: 30px;
	}
	
	.footer-nav {
		text-align:center;
	}
	.footer-nav li {
		margin-top: 10px;
	}
	
	.footer-social {
		text-align:center;
	}
	.footer-social li {
		margin-top: 10px;
	}
	
	.footer-copyright {
		text-align:center;
		line-height:inherit;
		margin-top:20px;
	}
	
	#footer .col-md-6 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (min-width: 992px){
	
	#footer .col-md-4 {
    flex: 0 0 37%;
    max-width: 37%;
	}
	#footer .col-md-8 {
    flex: 0 0 63%;
    max-width: 63%;
	}
}

