@model BestService.Web.ViewModels.Testimonial.TestimonialsViewModel
@using BestService.Common;

@{
    ViewData["Title"] = "What Our Users Says";
}

<div class="row ftco-animate justify-content-center">
    <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
            @foreach (var comment in Model.Comments)
            {
                <div class="item">
                    <div class="testimony-wrap d-flex">
                        <div class="user-img" style="background-image: url(@GlobalConstants.CloudinaryUploadDir@comment.UserProfileImage")">
                        </div>
                        <div class="text pl-4">
                            <span class="quote d-flex align-items-center justify-content-center">
                                <i class="icon-quote-left"></i>
                            </span>
                            <p>@comment.ShortContent</p>
                            <p class="name">@comment.UserFullName</p>
                            <span class="position">@comment.UserUserName</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>