@using BestService.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap">


    <link href="~/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/star-rating.css" rel="stylesheet" />
    <link href="~/css/error.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png" />
    @*<link rel="manifest" href="~/site.webmanifest" />*@


</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <form action="#" class="searchform order-lg-last">
                <div class="form-group d-flex">
                    <input type="text" class="form-control pl-3" placeholder="Search">
                    <button type="submit" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
                </div>
            </form>
            <div class="collapse navbar-collapse font-weight-bold" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <partial name="~/Views/Shared/Partials/_NavigationPartial.cshtml" />
                </ul>
                <ul class="navbar-nav return-right">
                    <partial name="~/Views/Shared/Partials/_LoginPartial.cshtml" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <main role="main" class="pb-3">
        <section class="ftco-section">
            <div class="container col-11">
                @this.RenderBody()
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This site is created by <a href="https://bestservice.biz" target="_blank">VGIvanov</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.easing.1.3.js" asp-append-version="true"></script>
    <script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/aos.js" asp-append-version="true"></script>
    <script src="~/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
    <script src="~/js/scrollax.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
