@model BestService.Web.ViewModels.Contacts.ContactsInputModel
@{
    ViewData["Title"] = "Index";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Contact Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Address:</span> 5 Sveta Gora Street, Varna 9003</p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 359 887 390025</a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:support@bestservice.biz">support@bestservice.biz</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-8 mb-md-1">
                <h2 class="text-center">If you got any questions <br>please do not hesitate to send us a message</h2>
                <form asp-controller="Contacts" asp-action="SendEmail" method="post" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" asp-for="FromName" class="form-control" placeholder="Your Name" />
                        <span asp-validation-for="FromName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="SendersEmail" class="form-control" placeholder="Your Email" />
                        <span asp-validation-for="SendersEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="HtmlContent" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                        <span asp-validation-for="HtmlContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <vc:maps></vc:maps>
</section>
