<li><a asp-area="" asp-controller="Home" asp-action="Index"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
<li><a asp-area="" asp-controller="Settings" asp-action="Index"><span class="ion-ios-arrow-round-forward mr-2"></span>Settings</a></li>
<li><a asp-area="" asp-controller="Home" asp-action="Privacy"><span class="ion-ios-arrow-round-forward mr-2"></span>Privacy</a></li>
<li><a asp-area="" asp-controller="Contacts" asp-action="Index"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>