@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other Pages
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
        <a class="dropdown-item" href="full-width.html">Full Width Page</a>
        <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
        <a class="dropdown-item" href="faq.html">FAQ</a>
        <a class="dropdown-item" href="404.html">404</a>
        <a class="dropdown-item" href="pricing.html">Pricing Table</a>
    </div>
</li>
