@model BestService.Web.ViewModels.Maps.GoogleMapsViewModel


<div class="d-flex justify-content-center">
    <div class="col-md-12">
        <div id="map" class="bg-white">
            <div id="map">
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of Uluru
                        var uluru = { lat: 43.2046881, lng: 27.9129942 };
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), { zoom: 12, center: uluru });
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({ position: uluru, map: map });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initMap">
                </script>
            </div>
        </div>
    </div>
</div>
